<div id="main">
<mat-toolbar>
  <button mat-button routerLink="home">
    <img src="../assets/mls-toolbar-logo.png" style="max-height: 90px;" matTooltip="Musiklexikon der Schweiz
Dictionnaire de la musique en Suisse
Dizionario della musica in Svizzera
Dictionary of Music in Switzerland
">
  </button>
  <!-- <a mat-button *ngIf="knoraService.loggedin" (click)="logout()">{{ knoraService.useremail }}</a> -->
  <button  *ngIf="!knoraService.loggedin" mat-icon-button matTooltip="Benutzer an- und abmelden" (click)="account()"><mat-icon >account_box</mat-icon></button>
  <button  *ngIf="knoraService.loggedin" color="warn" mat-icon-button [matTooltip]="knoraService.useremail + ' (abmelden...)'" (click)="account()" ><mat-icon >account_box</mat-icon></button>
  <span class="fill-remaining-space"></span>
  <div fxHide.lt-md>
    <mat-icon appBackButton matTooltip="zurück" class="clickable">arrow_back</mat-icon>
    <a mat-button routerLink="lexica">Quellen (Lexika)</a>
    <a mat-button routerLink="lemmata">Stichworte</a>
    <a mat-button routerLink="info">Das MLS</a>
    <a mat-button routerLink="theproject">Das Projekt</a>
    <a mat-button routerLink="about">Über uns</a>
    <a *ngIf="knoraService.loggedin" mat-button routerLink="allnews">News...</a>
    <!-- <button mat-icon-button matTooltip="Zurück zum Startbildschirm" routerLink="home"><mat-icon>home</mat-icon></button> -->
  </div>
  <div fxHide.gt-sm>
    <!--<a mat-button (click)="drawer.toggle()">Show Side Menu</a>-->
    <button mat-icon-button [matMenuTriggerFor]="menu"matTooltip="Auswahl der Aktionen"><mat-icon>reorder</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="lexica">Quellen (Lexika)</button>
      <button mat-menu-item routerLink="lemmata">Stichworte</button>
      <button mat-menu-item routerLink="info">Das MLS</button>
      <button mat-menu-item routerLink="theproject">Das Projekt</button>
      <button mat-menu-item routerLink="about">Über uns</button>
      <button *ngIf="knoraService.loggedin" mat-button routerLink="allnews">News...</button>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
  <hr />
<footer>
  <a href="https://www.smg-ssm.ch/smg-ssm/">
    <img class="footer-logo" src="../assets/musikforschendegesellschaft-logo.png" />
  </a>
  <a href="https://www.musikrat.ch">
    <img class="footer-logo" src="../assets/mube.smr_rgb.jpg" />
  </a>
  <a href="https://www.unibe.ch">
    <img class="footer-logo" src="../assets/Unibe_Logo_16pt_RGB_201807_o_R_l.png" />
  </a>
  <a href="https://sagw.ch/sagw/">
    <img class="footer-logo" src="../assets/logo-sagw.png" />
  </a>
  <a href="https://www.fonoteca.ch">
    <img class="footer-logo" src="../assets/logo fonoteca_NEW original.png" />
  </a>
  <a href="https://www.nb.admin.ch/snl">
    <img class="footer-logo" src="../assets/EDI_NB_df_CMYK_pos_hoch.png" />
  </a>
  &nbsp;
  <a href="mailto:lukas.rosenthaler@unibas.ch">
    <img class="footer-logo" src="../assets/Lukas.png" />
  </a>
  <a href="https://dasch.swiss" target="_blank"><img class="footer-logo" src="../assets/DaSCH-logo.jpg" alt="Powered by the DaSCH Service Platform (DSP)" /></a>
</footer>
</div>
