<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <img src="../assets/mls-toolbar-logo.png" style="max-height: 64px;">
  <span class="fill-remaining-space"></span>
  <mat-icon appBackButton>arrow_back</mat-icon>
  <a mat-button routerLink="lexica">Lexika</a>
  <a mat-button routerLink="lemmata">Lemmata</a>
  <a mat-button routerLink="info">Projekt</a>
  <a mat-button routerLink="about">Über uns</a>
  <a mat-icon-button routerLink="home"><mat-icon>home</mat-icon></a>
</mat-toolbar>

<router-outlet>

</router-outlet>
